.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 40px auto;
    padding: 25px;
    background-image: url(https://plus.unsplash.com/premium_photo-1754426863493-3f5cd6d70e85?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D);
    border-radius: 12px;
    box-shadow: 0 6px 20px #000;
}

.form h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 600;
    color: #222;
}

.form p{
    text-align: center;
    color: #666;
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 1.5;
}

label{
    display: block;
    font-weight: bold;
    color: #444;
    margin-right: 8px;
}

select,
input{
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

button{
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    color: grey;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: gold;
    color: #000;
    box-shadow: 0 4px 12px #000;
}

.result{
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    max-width: 420px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px #000;
    font-size: 18px;
    color: #333;
    opacity: 0;
    transition: all 0.5s ease;
}

.result.show{
    opacity: 1;
}

header{
    text-align: center;
    margin: 40px auto 20px auto;
    max-width: 600px;
    padding: 20px;
}

.header{
    background-color: lightgrey;
}

header h1{
    font-size: 50px;
    color:#333;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

header p{
    font-size: 16px;
    color: #000;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    text-align: center;
    margin-top: 50px;
    padding: 15px;
    background-color: antiquewhite;
    color: #000;
    font-size: 14px;
    border-top: 1px solid #333;
}

body{
    font-family:'Times New Roman', Times, serif;
    color: #333;
}

