/* form styling */
.form{
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: bisque;
    border: 2px solid#333;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000;
}
.form h2{
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}
.form p{
    text-align: center;
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Label styling */
label{
    display: block;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
}

/* Button */
button:hover{
    background-color: #fff;
}

/* Result */
#result{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/* Header styling */
header{
    text-align: center;
    margin: 40px auto 20px auto;
    max-width: 600px;
    padding: 20px;
}

/* Title */
header h1{
    font-size: 20px;
    color:#333;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

/* Description */
header p{
    font-size: 16px;
    color: #000;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}
